body{
    margin: 0px;
}
#base{
    height: 100%;
    background-image: linear-gradient(to top,#d1777d,white);
}
#line1{
    position: absolute;
    top: 60px;
    left: 8%;
    opacity: 0.5;
    width: 91.8%;
}
#logo {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 70px;
    width: 90px;
}

#title {
    color: orange;
    font-weight: bold;
    position: absolute;
    left: 110px;
    top: 20px;
}

#question {
    position: absolute;
    font-size: 40px;
    top: 20%;
    left: 10%;
}


#choose {
    position: absolute;
    top: 40%;
    left: 12%;
    height: 20px;
    width: 20px;
}

#oname {
    position: absolute;
    top: 35%;
    left: 15%;
    font-size: 30px;
}

#choose1 {
    position: absolute;
    top: 50%;
    left: 12%;
    height: 20px;
    width: 20px;
}

#oname1 {
    position: absolute;
    top: 45%;
    left: 15%;
    font-size: 30px;
}

#oname2 {
    position: absolute;
    top: 55%;
    left: 15%;
    font-size: 30px;
}

#oname3 {
    position: absolute;
    top: 65%;
    left: 15%;
    font-size: 30px;
}

#choose2 {
    position: absolute;
    top: 60%;
    left: 12%;
    height: 20px;
    width: 20px;
}

#choose3 {
    position: absolute;
    top: 70%;
    left: 12%;
    height: 20px;
    width: 20px;
}

#sub {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 80%;
    left: 60%;
}

#next {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 85%;
    left: 60.5%;
}
